<div class="flex items-start h-full w-full">
  <div
    [ngClass]="
      'basis-1/6 bg-white rounded-2xl w-32 h-full shadow-md ' +
      (menuSidebarVisible ? '' : ' hidden')
    "
  >
    <div
      class="flex items-center justify-center font-bold py-3 border-b border-color"
    >
      <p class="tui-text_body-xl">Заявки</p>
    </div>
    <nav>
      <ng-container *ngFor="let item of menuItem">
        <button
          [ngClass]="
            'w-full text-sm font-normal uppercase flex items-center pl-2 my-2 transition-colors duration-400 justify-start  ' +
            (currentMenuItem == item.item
              ? 'text-menu_dark bg-gradient-to-r from-white to-blue-100 border-r-2 border-blue-500'
              : ' text-menu_grey hover:text-menu_dark')
          "
          (click)="setCurrentMenuItem(item.item)"
        >
          {{ item.item }}
        </button>
      </ng-container>
    </nav>
  </div>
  <div class="basis-full w-full ml-1 space-y-2">
    <!-- Toolbar -->
    <header
      class="w-auto shadow-md bg-white items-center h-14 rounded-2xl z-40"
    >
      <div
        tuiTextfieldSize="m"
        class="flex justify-between items-center h-full py-auto"
      >
        <button
          tuiIconButton
          size="m"
          type="button"
          appearance="icon"
          icon="tuiIconMenuLarge"
          class="my-auto"
          (click)="menuSidebarVisible = !menuSidebarVisible"
        ></button>

        <div class="flex space-x-2">

        </div>
      </div>
    </header>
    <div
      class="overflow-y-auto pb-8 flex flex-col flex-wrap w-full h-full px-2 shadow-md rounded-2xl bg-white"
    >

		<sortable-table-with-pagination
			[DATA]="filteredData"
			[tableColumns] = "tableColumns"
			[resizableColumn] = true
			[stickyColumn] = true
			rowActionText = "Обработать"
		>
			
		</sortable-table-with-pagination>
	</div>
  </div>
</div>
