<div class="auth-page tui-space_bottom-4 tui-container">
  <div class="tui-row">
    <div class="tui-col_md-6 tui-offset_md-3 tui-col_xs-12">
      <h3 class="tui-form__header">Авторизоваться</h3>
      <tui-notification
        class="tui-space_bottom-2"
        *ngIf="errorSubmitting"
        status="error"
        [hasIcon]="false"
      >
        Введен некорректный логин или пароль. 
      </tui-notification>
      <form class="b-form" [formGroup]="authForm" (ngSubmit)="submitForm()"> 
        <!-- <tui-loader [showLoader]="false" [overlay]="true"> -->
          <div class="tui-form__row" >
            <div class="tui-space_bottom-5">
              <tui-input
                class=""
                formControlName="username"
                [tuiTextfieldCleaner]="true"
              >
                  Введите логин&nbsp;
                  <span class="tui-required"></span>
                  <input
                    tuiTextfield
                    placeholder="Введите ваш логин"
                  />
              </tui-input>
              <tui-error
                class="error-message"
                formControlName="username"
                [error]="[] | tuiFieldError | async"
              ></tui-error>
            </div>
            <tui-input-password
              ngDefaultControl
              formControlName="password"
              [disabled]="isSubmitting"
              tuiTextfieldExampleText="Введите ваш пароль"      
              [tuiTextfieldCleaner]="true"
            >
                Введите пароль
                <span class="tui-required"></span>
            </tui-input-password>
            <tui-error
              class="error-message"
              formControlName="password"
              [error]="[] | tuiFieldError | async"
            ></tui-error>

            <div class="tui-form__buttons">
              <button
                [disabled]="isSubmitting"
                tuiButton
                size="l"
                type="submit"
                class="tui-form__button"
              >
              Авторизоваться
              </button>
            </div>
          </div>
        <!-- </tui-loader> -->
      </form>
    </div>

  </div>
</div>


