

<nav class="navbar">
  <tui-tabs class="tui-container">
      <div class="nav-link">
        <a class="tabs" tuiTab routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            Главная
        </a>
      </div>
      <div class="nav-link_user">
        <ng-container *appShowAuthed="false">
          <a tuiTab routerLink="/login" routerLinkActive="active">
            Авторизоваться
          </a>
        </ng-container>

        <ng-container *appShowAuthed="true">        
          <a  
            tuiTab
            [routerLink]="['/user']"
            routerLinkActive="active">
            {{ currentUser.full_name }}
            
          </a>
          <a tuiTab (click)="logout()">
              Выйти
          </a>
        </ng-container>
      </div>
  </tui-tabs>
</nav>
<!-- 
  [routerLink]="['/profile', currentUser.username]"


    <ng-container *appShowAuthed="false">
      <tui-tabs class="tabs-user" [underline] ='false'>
        
      </tui-tabs>
    </ng-container>

    <ng-container *appShowAuthed="true">
      <tui-tabs class="tabs-user" > 
        <a routerLink="/login" routerLinkActive="active" tuiTab>
            Настройки
        </a>
        <a class="nav-link"
            [routerLink]="['/profile', currentUser.username]"
            routerLinkActive="active">
            {{ currentUser.username }}
        </a>
      </tui-tabs>
    </ng-container> -->


<!-- 
<ng-template #more>
  <tui-svg src="tuiIconMoreHorLarge"></tui-svg>
</ng-template>

<ng-container *ngFor="let tab of tabs">
  <ng-container *ngIf="isString(tab); else submenu">
      <a
          [routerLink]="[tab[1]]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
          *tuiTab
          tuiTab      
      >
          {{tab[0]}}
      </a>
  </ng-container>
  <ng-template #submenu>
      <tui-hosted-dropdown *tuiTab [content]="dropdown"  [(open)]="open">
        
          <button tuiTab (tui-tab-activate)="stop($event)">
              {{tab[0]}}
              <tui-svg src="tuiIconChevronDown" class="icon" [class.icon_rotated]="open"></tui-svg>
          </button>
      </tui-hosted-dropdown>
      <ng-template #dropdown>
        <tui-data-list *ngFor="let tabEl of tab">                 
            <a [routerLink]="[tabEl]" tuiOption>
                {{tabEl}}
            </a>
        </tui-data-list>
      </ng-template>
    
  </ng-template>          
</ng-container>



        
<nav class="tui-container_fullwidth">
  <div class="wrapper">
    <a class="navbar-brand" routerLink="/">Главная</a>
    <ul *appShowAuthed="false"
      class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/login"
          routerLinkActive="active">
          Sign in
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/register"
          routerLinkActive="active">
          Sign up
        </a>
      </li>
    </ul>
    <ul *appShowAuthed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/editor"
          routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/settings"
          routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image || 'https://static.productionready.io/images/smiley-cyrus.jpg'" *ngIf="currentUser.image" class="user-pic" alt="user image" />
          {{ currentUser.username }}
        </a>
      </li>

    </ul>

  </div>
</nav> -->
