@import '~@taiga-ui/core/styles/taiga-ui-local';

.navbar { 
    flex: 0 0 auto;
    background-color: var(--tui-base-03);
}

.tui-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.tabs {
    flex:1;
    box-shadow: none;
    margin-left: 3rem;
}

.tabs-user{
    box-shadow: none;
    margin-right: 3rem;
}
 
.icon {
    margin-left: 0.25rem;
 
    &_rotated {
        transform: rotate(180deg);
    }
}   
