<form 
	[formGroup]="testForm"
	class="w-full "
	(Submit)="submit()"
>
	<ng-container *ngIf="activeForm==='Перечень объектов'">
		<h3 class="tui-form__header text-center">Перечень объектов</h3>
		<div class="tui-form__row">
			<tui-input-date
				
				formControlName="periodValue"
			>
				Дата
				<span class="tui-required"></span>
			<input tuiTextfield placeholder="Введите дату"/> </tui-input-date>
			<tui-error
				formControlName="periodValue"
				[error]="[] | tuiFieldError | async"
			></tui-error>
		</div>

		<div class="tui-form__row">
			<tui-input
				
				formControlName="nameValue"
				tuiHintContent="A tooltip"
			>
				Основание
				<span class="tui-required"></span>
			<input tuiTextfield placeholder="Основание для чего-то"/> </tui-input>
			<tui-error
				formControlName="nameValue"
				[error]="[] | tuiFieldError | async"
			></tui-error>
		</div>

		<div class="tui-form__row">
			<tui-input
				
				formControlName="nameValue1"
				tuiHintContent="A tooltip"
			>
				Правообладатель
				<span class="tui-required"></span>
			<input tuiTextfield placeholder="Правообладатель чего-то!"/> </tui-input>
			<tui-error
				formControlName="nameValue1"
				[error]="[] | tuiFieldError | async"
			></tui-error>
		</div>
	</ng-container>


	<ng-container *ngIf="activeForm==='Реквизиты'">
		<h3 class="tui-form__header text-center">Реквизиты</h3>
		<div class="tui-form__row">
			<tui-input
				
				formControlName="nameValue2"
				tuiHintContent="A tooltip"
			>
				Основание
				<span class="tui-required"></span>
			<input tuiTextfield placeholder="Основание для чего-то"/> </tui-input>
			<tui-error
				formControlName="nameValue2"
				[error]="[] | tuiFieldError | async"
			></tui-error>
		</div>

		<div class="tui-form__row">
			<tui-input
				
				formControlName="nameValue3"
				tuiHintContent="A tooltip"
			>
				Правообладатель
				<span class="tui-required"></span>
			<input tuiTextfield placeholder="Правообладатель чего-то!"/> </tui-input>
			<tui-error
				formControlName="nameValue3"
				[error]="[] | tuiFieldError | async"
			></tui-error>
		</div>
	</ng-container>
</form>
