<div class="h-full w-full block" >  
    <router-outlet></router-outlet>
</div>

<button
    tuiButton
    type="button"
    (click)="toggleVisibilitySidebarFilter(true)"
    
>
    Filter
    <div *tuiSidebar="visibilitySidebarFilter; direction: 'right' autoWidth:true" class="w-96 h-full">
        <ng-container *ngTemplateOutlet="sidebarContent"></ng-container>
    </div>
</button>

<div *ngIf="payLoad" >
    <strong>Saved the following values</strong><br>{{payLoad}}
</div>

<ng-template #sidebarContent >
    <app-advanced-dynamic-filter class="w-full h-full" [segmentForms]="segmentForm$ | async" (visibilitySidebarFilter)="toggleVisibilitySidebarFilter($event)" (formValues)="formValue($event)"></app-advanced-dynamic-filter>
</ng-template>

<!--(visibilitySidebarFilter)="toggleVisibilitySidebarFilter($event)"-->
<!-- (tuiActiveZoneChange)="toggleVisibilitySidebarFilter($event)" -->