<div class="h-screen block items-center w-screen">

  <!-- Header -->
  <header class="flex flex-col w-full overflow-hidden z-49 shadow">
      <!-- Top bar -->
      <div class="relative flex flex-auto justify-center w-full h-16 px-8 bg-gray-800">
          <div class="flex flex-row container justify-between items-center w-full">     
            <div class="">
              <a class="tui-text_h6 text-white" href="/">LOGO</a>
            </div>      
            <!-- Components -->
            <div class="">
                <!-- <languageen class="hidden md:block"></fuse-fullscreen>-->
                <search></search>
                <!--<shortcuts></shortcuts>
                <messages></messages>
                <notifications></notifications>
                <user></user> -->
                <tui-hosted-dropdown #dropdown [content]="topBarContent">
                  <button
                    tuiButton
                    class="text-white ml-2"
                    type="button">     
                    {{ currentUser.full_name }} 
                  </button>
                </tui-hosted-dropdown>
                <ng-template #topBarContent>
                  <tui-data-list (click)="onClick()">
                    <a tuiOption routerLink="/">
                      <tui-svg src="tuiIconUser"></tui-svg> 
                      <span>Профиль</span> 
                    </a>
                    <a tuiOption routerLink="/">
                      <tui-svg src="tuiIconSettings"></tui-svg> 
                      <span>Настройки</span>
                    </a>              
                    <a tuiOption routerLink="/sign-out">
                      <tui-svg src="tuiIconLogoutLarge"></tui-svg> 
                      <span>Выйти</span>
                    </a>
                  </tui-data-list>
                </ng-template>
            </div>
          </div>
      </div>

      <!-- Bottom bar -->
      <div class="flex flex-auto justify-center px-8 bg-white shadow-inner">
          <div class="relative container mx-auto flex items-center w-full max-w-360 ">
            <nav tuiTabs class="tabs">               
                <tui-hosted-dropdown
                    tuiDropdownHover
                    [content]="content"
                    [(open)]="open"
                >
                    <button tuiTab>Реестр</button>
                    
                    <ng-template #content>
                        <tui-data-list>
                            <a routerLink="registry/search" tuiOption>Поиск</a>
                            <a routerLink="registry/report" tuiOption>Отчеты</a>
                            <a routerLink="/" tuiOption>Загрузка</a>
                            <a routerLink="/" tuiOption>Заявки</a>
                        </tui-data-list>
                    </ng-template>
                </tui-hosted-dropdown>

                <button tuiTab>Сервис</button>
                <button tuiTab>Другое 1</button>
                <button routerLink="/" tuiTab>Другое 2</button>
                <button routerLink="/" tuiTab>Другое 3</button>
            </nav>
          </div>
      </div>      
  </header>

  <!-- Content -->
  <main class="relative w-screen p-6 bg-gray-200">   
      <router-outlet *ngIf="true"></router-outlet> 
  </main>

  <!-- Footer -->
  <footer class="flex relative w-full h-16 px-6 items-center z-49 shadow-inner border-t border-color bg-white print:hidden">
      <span class="font-medium text-secondary">Copyright &copy; {{ today | date: 'yyyy' }}</span>
  </footer>

</div>
<!-- absolute bottom-0 left-0 -->