<div class="h-screen overflow-hidden relative items-center w-full bg-gray-200">
  <!-- Header -->
  <header class="relative flex flex-col flex-0 justify-center w-full overflow-hidden z-49 shadow">
      <!-- Top bar -->
      <div class="relative flex flex-auto justify-center w-full h-16 px-8 bg-gray-800">
          <div class="flex container mx-auto main-menu items-center w-full">     
            <div class="flex items-center">
              <a class="tui-text_h6" href="/">LOGO</a>
            </div>      
            <!-- Components -->
            <div class="flexes>
                <fuse-fullscr items-center pl-2 ml-auto space-x-1 sm:space-x-2">
                <!-- <languageen class="hidden md:block"></fuse-fullscreen>-->
                <search></search>
                <!--<shortcuts></shortcuts>
                <messages></messages>
                <notifications></notifications>
                <user></user> -->
                <tui-hosted-dropdown #dropdown [content]="topBarContent">
                  <button
                    tuiButton
                    type="button">     
                    {{ currentUser.full_name }} 
                  </button>
                </tui-hosted-dropdown>
                <ng-template #topBarContent>
                  <tui-data-list (click)="onClick()">
                    <a tuiOption routerLink="/">
                      <tui-svg src="tuiIconUser"></tui-svg> 
                      <span>Профиль</span> 
                    </a>
                    <a tuiOption routerLink="/">
                      <tui-svg src="tuiIconSettings"></tui-svg> 
                      <span>Настройки</span>
                    </a>              
                    <a tuiOption routerLink="/sign-out">
                      <tui-svg src="tuiIconLogoutLarge"></tui-svg> 
                      <span>Выйти</span>
                    </a>
                  </tui-data-list>
                </ng-template>
            </div>
          </div>
      </div>

      <!-- Bottom bar -->
      <div class="flex flex-auto justify-center px-8 bg-white shadow-inner">
          <div class="relative container mx-auto flex items-center w-full max-w-360 ">
            <nav tuiTabs class="tabs">               
                <tui-hosted-dropdown
                    tuiDropdownHover
                    [content]="content"
                    [(open)]="open"
                >
                    <button tuiTab>Реестр</button>
                    
                    <ng-template #content>
                        <tui-data-list>
                            <a routerLink="registry/search" tuiOption>Поиск</a>
                            <a routerLink="registry/report" tuiOption>Отчеты</a>
                            <a routerLink="/" tuiOption>Загрузка</a>
                            <a routerLink="/" tuiOption>Заявки</a>
                        </tui-data-list>
                    </ng-template>
                </tui-hosted-dropdown>

                <button tuiTab>Сервис</button>
                <button tuiTab>Другое 1</button>
                <button routerLink="/" tuiTab>Другое 2</button>
                <button routerLink="/" tuiTab>Другое 3</button>
            </nav>
          </div>
      </div>      
  </header>

  <!-- Content -->
  <main class="flex w-screen p-6">   
      <router-outlet *ngIf="true"></router-outlet> 
  </main>
<!-- justify-center <div class="flex flex-col flex-auto bg-white shadow-lg rounded-xl overflow-hidden"> -->
  <!-- Footer -->
  <footer class="relative flex flex-0 justify-center w-full px-6 z-49 shadow-inner border-t border-t-gray-300 bg-white print:hidden">
    <div class="flex items-center w-full max-w-360 h-10 sm:h-20">
      <span class="font-medium text-secondary">Copyright &copy; {{ today | date: 'yyyy' }}</span>
    </div>
  </footer>

</div>
