<div class="flex h-full w-full bg-white shadow-lg rounded-xl">
    <!-- tree menu -->
    <div class="w-36 border-r border-r-gray-300">

        <!-- Header -->
        <div class="py-3 px-10 bg-gray-50 border-b border-b-gray-300">
            <h3>Разделы реестра</h3>
        </div>
        
        <!-- Tree view -->
        <div class="flex-auto h-full overflow-y-auto p-1">
        <tui-tree
            *ngFor="let item of menu.children"
            [tuiTreeController]="false"
            [value]="item"
            [content]="content"
            [childrenHandler]="handler"
        ></tui-tree>
        
        <!-- Tree elements -->
        <ng-template
            #content
            let-item
        >
            <button
                tuiLink
                class="py-1 hover:bg-gray-100" 
                [routerLink]="item.category"
            >
                {{item.text}}
            </button>
        </ng-template>
        </div>

    </div>

    <!-- No chats template #noChats -->
    <!-- <ng-template >
        <div class="flex-none flex-col items-center justify-center h-full">
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">No chats</div>
        </div>
    </ng-template> -->

    <!-- Conversation *ngIf="data && data.length = 0" -->
    <div class="grow w-full h-full">
        <p tuiTextfieldSize="m" class="filters">
            <tui-input
                class="input"
                [tuiTextfieldCleaner]="true"

            >
            <!-- [(ngModel)]="search" -->
                Find on page
            </tui-input>
            <tui-input-count
                class="tui-space_horizontal-3"
                [formControl]="minAge"
            >
                Minimum age
            </tui-input-count>
            <tui-hosted-dropdown [content]="dropdown">
                <button
                    tuiButton
                    size="m"        
                >
                <!-- [iconRight]="arrow" -->
                    Columns
                </button>
                <ng-template #dropdown>
                    <tui-reorder
                        class="columns"
                        [enabled]="enabled"
                        [(items)]="initial"
                        (enabledChange)="onEnabled($event)"
                    ></tui-reorder>
                </ng-template>
            </tui-hosted-dropdown>
        </p>
        <tui-loader
            [overlay]="true"
            [showLoader]="!!(loading$ | async)"
        >
            <table
                *tuiLet="data$ | async as data"
                tuiTable
                class="table"
                [columns]="columns"
                [direction]="(direction$ | async) || 1"
                [tuiSortBy]="sorter$ | async"
                (tuiSortByChange)="sorter$.next($event!)"
                (directionChange)="direction$.next($event)"
            >
                <thead>
                    <tr tuiThGroup>
                        <th
                            *tuiHead="'name'"
                            tuiTh
                            tuiSortable
                        >
                            Name
                        </th>
                        <th
                            *tuiHead="'dob'"
                            tuiTh
                            tuiSortable
                        >
                            Date of Birth
                        </th>
                        <th
                            *tuiHead="'age'"
                            tuiTh
                            tuiSortable
                        >
                            Age
                        </th>
                    </tr>
                </thead>
                <tbody
                    tuiTbody
                    [data]="data"
                >
                    <tr
                        *tuiRow="let item of data"
                        tuiTr
                    >
                        <td
                            *tuiCell="'name'"
                            tuiTd
                            [class.match]="isMatch(item.name)"
                        >
                            {{item.name}}
                        </td>
                        <td
                            *tuiCell="'dob'"
                            tuiTd
                            [class.match]="isMatch(item.dob)"
                        >
                            {{item.dob}}
                        </td>
                        <td
                            *tuiCell="'age'"
                            tuiTd
                            [class.match]="isMatch(getAge(item))"
                        >
                            {{getAge(item)}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td [colSpan]="columns.length">
                            <tui-table-pagination
                                class="tui-space_top-2"
                                [total]="(total$ | async) || 0"
                                (pageChange)="onPage($event)"
                                (sizeChange)="onSize($event)"
                            ></tui-table-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </tui-loader>



    </div>

    <div class="flex-none w-60 h-full">
        <div class="bg-red-500 ">

        </div>
    </div>

</div>

<!-- [ngClass]="{'z-20 absolute inset-0 lg:static lg:inset-auto flex': data ,
                              'hidden lg:flex': !data}"> -->
