<div class="tui-container home-page" >

  <!-- <ng-container *appShowAuthed="false">
    <div class="banner" >
      <div class="container">
        <h1 class="logo-font">conduit</h1>
        <p>A place to share your <i>Angular</i> knowledge.</p>
      </div>
    </div>
  </ng-container> -->
  

  <div class="container page">
    <h1 class="tui-text_h1" style="font-size: xx-large; position: absolute; top: 50%; left:50%;">THIS MAIN PAGE</h1>
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              
            </li>
            <li class="nav-item">
              
            </li>
            
          </ul>
        </div>

        
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p></p>

          <div class="tag-list">
            
          </div>

          <div [hidden]="tagsLoaded">
            
          </div>

          <div [hidden]="!tagsLoaded || tags.length > 0">
            No tags are here... yet.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
